.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #20C20E;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
    margin-left: -20px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.container.contact-page,
.container.about-page,
.container.portfolio-page {
  
    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #20C20E;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -10px;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #20C20E;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #20C20E;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      font-size: 13px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      animation: pulse 1s;
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

#bg-video {
  object-fit: cover;
  width: -1vw;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

/* Smartphone */
@media screen and (max-width: 600px) {
  .page {
    padding-top: 25%;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .tags {
    display: none;
  }

  .container {
    width: 100%;
    will-change: contents;
    height: center;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 1;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
  }

  .container.about-page {
    top: 1%;

    h1 {
      font-size: 45px;
      color: #20C20E;
      margin-top: auto;
      position: relative;
      height: 10%;
      left: 5%;
      text-align: center;

      &:before {
        left: -25%;
      }

      &:after {
        left: 95%;
      }
    }

    .text-zone {
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translateY(-100%);
      width: 50%;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      max-height: 100%;
    }
  }

  .container.contact-page {
    top: 20%;

    h1 {
      font-size: 45px;
      color: #20C20E;
      margin-top: auto;
      position: relative;
      height: 10%;
      left: 5%;
      text-align: center;

      &:before {
        top: 15%;
        left: -5%;
      }

      &:after {
        top: 90%;
        left: 75%;
      }
    }

    .text-zone {
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translateY(-100%);
      width: 50%;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      max-height: 100%;
    }
  }

  #bg-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 400px) and (max-height: 700px) {
  h1 {
    font-size: 20px;
  }

  .container.about-page {
    top: 20%;

    h1 {
      font-size: 40px;
    }

    .text-zone {
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translateY(-100%);
      width: 50%;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      max-height: 100%;
    }
  }

  .container.contact-page {
    top: 35%;
  }
}