.home__container {
  row-gap: 7rem;

  .home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
  }

  .home__img {
    background: url(@/assets/character.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    order: 1;
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }

  .home__img {
    width: 200px;
    height: 200px;
    order: initial;
    justify-self: initial;
  }
}
